/* add css styles here (optional) */
.btn-upload-container {
  display: flex;
  flex-wrap: nowrap;
}
.btn-upload {
  border: 0;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 18px;
  border-radius: 2px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: capitalize;
  white-space: nowrap;
}
.svg-icon {
  margin-right: 10px;
}
.files-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  flex : 1;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: flex-start;
  align-items: center;
}
.file {
  display: flex;

 margin: 1px;
 overflow: hidden;
 border-radius: 4px;

  color: rgba(0, 0, 0, 0.5);
}
.file-name {
  background-color: #e2e2e2;
  height: 20px;
 
  padding-right: 5px;
}
.file-close {
  width: 20px;
  height: 20px;
  background-color: #d2d2d2;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.file-close:hover {
  background-color: rgba(150, 0, 0, 0.4);
}
